body {
    font-family: "Roboto", sans-serif;
}

.container_top {
    display: flex;
    max-width: 1360px;
    width: 90%;
    margin: 20px auto;
    padding-left: 50px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.container_img {
    align-self: center;
    height: 100px;
    width: 100px;
}

.personalized_request {
    margin-left: auto;
}

.personalized_request button {
    text-align: center;
    width: 90%;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container_filter {
    flex-direction: row;
    width: 95%;
    display: flex;
    justify-content: end;
}

.filter {
    text-align: center;
    width: 15%;
    background-color: white;
    border: 2px solid #007bff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container {
    max-width: 1360px;
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.btn-filter {
    background: #007bff;
}

.btn-custom {
    background: #00aaff;
}

.content {
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content li {
    display: flex;
    flex-direction: row;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: white;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

li:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.topic_content {
    width: 60%;
}

.topic_content h5 {
    font-size: 16px;
    font-weight: normal;
}

.btn-request {
    background: #0099ff;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-request:hover {
    background: #007acc;
}

@media (max-width: 768px) {
    .filter {
        width: 45%;
        margin-bottom: 10px;
        margin-top: 10px;
        position: relative;
        overflow-x: auto;
    }

    .container_top {
        display: flex;
        max-width: auto;
        width: 95%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        justify-content: start;
        flex-direction: row;
    }

    .container_img {
        display: none;
    }

    .container {
        max-width: auto;
        width: 95%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content li {
        width: 100%;
    }


}