body {
    font-family: "Roboto", sans-serif;
}

.container_top {
    display: flex;
    max-width: 1360px;
    width: 90%;
    margin: 20px auto;
    padding-left: 50px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.container_img {
    align-self: center;
    height: 100px;
    width: 100px;
}

.personalized_request {
    margin-left: auto;
}

.personalized_request button {
    text-align: center;
    width: 90%;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container_filter {
    flex-direction: row;
    width: 95%;
    display: flex;
    justify-content: end;
}

.filter {
    text-align: center;
    width: 15%;
    background-color: white;
    border: 2px solid #007bff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container {
    max-width: 1360px;
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.btn-filter {
    background: #007bff;
}

.btn-custom {
    background: #00aaff;
}

.content {
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.btn-request {
    background: #0099ff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-request:hover {
    background: #007acc;
}