html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #eaeef6;
}

.navbar {
    background-color: #007bff;
    padding: 1rem;
    position: relative;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.icon-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon-btn img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.icon-btn:hover {
    opacity: 0.8;
}

.logo {
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.8;
}

.notificacion_popup,
.messages_popup,
.settings_popup {
    position: absolute;
    right: 0;
    top: 50px;
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000;
    display: none;
    flex-direction: column;
}

.notificacion_popup h1,
.messages_popup h1,
.settings_popup h1 {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
    color: #333;
}

.notificacion_content,
.messages_content,
.settings_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    color: #666;

}

.settings_content_btn {
    display: flex;
    justify-content: center;
}

.notificacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 16px;
    margin-bottom: 12px;
    gap: 16px;
    transition: background-color 0.3s ease;
}

.notificacion:hover {
    background-color: #007bff;
}

.noti-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.noti-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.noti-mensaje {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.noti-fecha {
    font-size: 14px;
    color: #333;
}

.delete_noti_btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    transition: transform 0.2s ease;
}

.delete_noti_btn:hover {
    transform: scale(1.1);
}

.delete_noti_btn img {
    width: 24px;
    height: 24px;
}

.notificacion button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.delete_noti_btn img,
.notificacion img {
    height: 20px;
    width: 20px;
    display: block;
    border: none;
}

.settings_content_btn button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#bell,
#message,
#settings {
    position: relative;
}

@media (max-width: 768px) {

    .navbar {
        width: 100%;
    }

    .messages_popup {
        right: -70px;
    }

    .notificacion_popup {
        right: -35px;
    }

    .notificacion_popup,
    .messages_popup,
    .settings_popup {
        position: absolute;

        top: 50px;
        width: 300px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        z-index: 1000;
        display: none;
        flex-direction: column;
    }

    .notificacion_popup h1,
    .messages_popup h1,
    .settings_popup h1 {
        font-size: 1.2rem;
        margin: 0 0 10px 0;
        color: #333;
    }

    .notificacion_content,
    .messages_content,
    .settings_content {
        padding: 10px 0;
        color: #666;
    }

    #bell,
    #message,
    #settings {
        position: relative;
    }
}