html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #12B5F0;
    padding: 1rem 2%;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo {
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.messages,
.notifications,
.menu {
    height: 35px;
    width: 35px;
    cursor: pointer;
}