.container {
    padding-top: 3%;
    width: 100%;
    column-count: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.column {
    break-inside: avoid;
    padding: 10px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-2 {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.card-image-2 {
    height: 180px;
}

.card-image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content-2 {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.card-text-2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}